/* ในไฟล์ App.css หรือไฟล์ CSS ที่คุณใช้ */
button {
  background-color: #72BF78; /* สีเขียว */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000801; /* สีเมื่อ hover */
}
